//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/home/tipsy/.local/share/rofi/themes/slate.rasi"
//@theme "/home/tipsy/.local/share/rofi/themes/Pop-Dark.rasi"
//@theme "/home/tipsy/.local/share/rofi/themes/slate.rasi"
//@theme "/usr/share/rofi/themes/lb.rasi"
//@theme "/home/tipsy/.local/share/rofi/themes/Pop-Dark.rasi"
@theme "/usr/share/rofi/themes/Monokai.rasi"
